/* FONTS IMPORTATION */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* HTML formating */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General font and genral background color*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

/* general links properties */
a {
    text-decoration: none;
    color: inherit;
}

/* centered responsive header */
header, main {
    width: 100%;
    max-width: 1340px;
    margin: auto;
}

header {
    height: 90px;
}

    /* links layout */
.topbar a {
    text-align: center;
}

    /* topbar dimensions and layout */
.topbar {
    display: grid;
    grid-template-columns: 97px 5fr 167px 162px 162px;
    grid-template-rows: 90px;
    grid-template-areas: "logo-bar . lodging-bar activities-bar sign-up-bar";
}

        /* logo and links horizontal layout inside the topbar */

.topbar > div > a {
    padding-top: 49px;
    padding-bottom: 20px;
}

#logo {
    grid-area: logo-bar;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90px;
}

#logo img {
    width: 97px;
    height: 45px;
}

#topbar__hint--housing {
    grid-area: lodging-bar;
}

#topbar__hint--activities {
    grid-area: activities-bar;
}

#topbar__hint--sign-up {
    grid-area: sign-up-bar;
}

    /* links vertical layout */
.topbar__hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
        /* sign-up link */

#sign-up__link {
    font-weight: bold;
    color: #0065FC;
}

        /* active/inactive links */
.topbar__hint__upperline {
    height: 2px;
    width: 100%;
}

            /* active link */
.topbar .active > .topbar__hint__upperline {
    background-color: #0065FC;
}

.topbar .active > a {
    color: #0065FC;
}

            /* hover inactive link */
.topbar__hint:hover > .topbar__hint__upperline {
    background-color: #0065FC;
}

    /* hover links */
        /* hover "activités" */
.topbar__hint:hover > #activities__link {
    color: #0065FC;
}

        /* hover "S'inscrire" */
.topbar__hint:hover > #sign-up__link {
    color: black;
}

/* Main */
    /* main title */
.main-title {
    margin: 40px 0 19px 0;
}

.main-title h1 {
    margin: 0 2px 16px;
    font-size: 21px;
    font-weight: bold;
}

.main-title p {
    margin: 0px 6px 0;
    font-size: 16px;
}

/* search-bar */
.search-bar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 420px;
    border: 1px;
    border-color: #F2F2F2;
}
    /* map icon */
.search-bar__locate-icon {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-left: 4px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search-bar area */
.search-bar__area {
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border: 1px;
    padding: 0 0 0 17px;
    font-size: 18px;
    height: 100%;
}

    /* search button */
.search-bar__button {
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 17px;
    background-color: #0065FC;
    color: white;
    font-size: 17px;
    font-weight: bold;
    height: 100%;
    cursor: pointer;
}
    /* hide loop search icon for phone */
.search-bar__loop {
    display: none;
    cursor: pointer;
}

/* FILTER */
/* line up filter content */

/* Preferences filter */
.filter {
    width: auto;
    margin: 31px 0 0 13px;
}

    /* filter title */
.filter h2 {
    display: inline;
    font-size: 17px;
    margin: 0;
}

    /* filter-list */
.filter-list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
}

    /* general properties of each filter */
.filter-tab {
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 500px;
    margin: 13px 0 0 24px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    /* filling bar transition from left to right */
    background: linear-gradient(to right, #DEEBFF 50%, #ffffff 50%);
    background-size: 200%;
    background-position: right;
    transition: all 400ms ease-in-out;
}

/* hover background color filter name transition effect */
.filter-tab:hover {
    background-position: left;
}

            /* Centering icon inside its own div */
.filter i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    background-color: #DEEBFF ;
    border-radius: 500px;
}

                /* color of filter icons */
.filter i {
    color: #0065FC;
}

/* info-bar */
.info-bar {
    margin: 40px 0 40px 9px;
    display: flex;
    flex-direction: row;
}

.info-bar i {
    display: inline;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 5000px;
    padding: 3px 7px;
    height: 100%;
}

.info-bar p{
    display: inline-flex;
    margin: 2px 0 0 11px;
    font-size: 16px;
}

/* *******SECTION #1****** */
/* .content-lodging section */
.content-lodging {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.98%;
    grid-template-rows: 626px;
    grid-template-areas: "housing popular";
    width: fit-content;
}

        /* Common BOX SHADOW card properties */
.housing-container a, .popular-container a, .content-activities a {
    transition: all 600ms ease-in-out;
}

        /* Lodging BOX SHADOW card properties */
.housing-container a, .popular-container a {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 0.2);
}

        /* Activities BOX SHADOW card properties */
.content-activities a {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 0.2);
}

        /* Common HOVER content card  */
.housing-container a:hover, .popular-container a:hover, .content-activities a:hover {
    transform: scale(1.03);
}

            /* Lodging HOVER OPACITY BOX SHADOW card properties */
.housing-container a:hover, .popular-container a:hover {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 1);
}

            /* Activities HOVER OPACITY BOX SHADOW card property */
.content-activities a:hover {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 1);
}

        /* rate stars content card */
.blue {
    color: #0065FC;
    font-size: 12px;
}

.grey {
    color: #d9d9d9;
    font-size: 12px;
}

    /* layout children section */
.content__housing {
    grid-area: housing;
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 45px 4.5%;
}

.content__popular {
    grid-area: popular;
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

            /* housing content title */
.content__housing > h2 {
    font-size: 21px;
    margin: 0;
    padding-bottom: 23px;
}

            /* container inside housing content */
                /* layout housing-container cards */
.housing-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30.75%);
    grid-template-rows: repeat(2, 199px);
    gap: 3.75%;
    grid-template-areas: 
    "cannebiere harbor mouettes"
    "sea panier amina";
}

            /* show-more link */
.show-more {
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 43px;
    padding-left: 4px;
}

                /* layout inside a housing card */
.housing-container a {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

                    /* layout of card description */
.card-description-housing {
    padding-left: 11px;
}

                    /* Scale image card and fit div to image */
.housing-container img {
    height: 114px;
    width: 237px;
    border-radius: 20px 20px 0 0;
}

img {
    object-fit: cover;
}

.housing-container img, .housing-container > a > div {
    width: 100%;
}
                    /* layout description card */
.housing-container h3, .housing-container p {
    margin: 0;
}

.housing-container h3 {
    font-size: 16px;
}

.housing-container p {
    font-size: 13px;
}

/* layout of each housing cards */
    /* 1st row */
.housing-container__cannebiere {
    grid-area: cannebiere;
}

.housing-container__harbor {
    grid-area: harbor;
}

.housing-container__mouettes {
    grid-area: mouettes;
}

    /* 2nd row */
.housing-container__sea {
    grid-area: sea;
}

.housing-container__panier {
    grid-area: panier;
}

.housing-container__amina {
    grid-area: amina;
}

.content__popular__title {
    grid-area: popular-title;
    display: flex;
    justify-content: space-between;
    padding-top: 7.29%;
}

.content__popular h2 {
    font-size: 21px;
    margin: 0;
    padding-top: 7%;
}

.content__popular__title i {
    font-size: 22px;
    padding-top: 7%;
}

    /* layout container popular cards */
.popular-container {
    grid-area: popular-cards;
    border-radius: 50px;
    width: auto;
    display: grid;
    /* grid-template-columns: 343px; */
    grid-template-columns: 343px;
    grid-template-rows: 60px 144px 144px 144px;
    gap: 33px;
    grid-template-areas:
    "popular-title"
    "soleil-du-matin"
    "coeur-de-l-eau"
    "hotel-bleu-blanc";
}

    /* postion of each popular cards */
/* row #1 */
.popular-container__soleil-du-matin {
    grid-area: soleil-du-matin;
}

/* row #2 */
.popular-container__coeur-de-l-eau {
    grid-area: coeur-de-l-eau;
}

/* row #3 */
.popular-container__hotel-bleu-blanc {
    grid-area: hotel-bleu-blanc;
}
    /* general properties of popular cards */

/* common margin and appearence */
.popular-container a {
    background-color: white;
    padding: 1.4%;
    border-radius: 20px;
    margin: 0;
    /* layout inside of each popular card */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    /* cards-popular-containerimage scale */
.popular-container img {
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

/* layout card description popular */
.card-description-popular {
    padding: 0 45px 9px 20px;
    width: 100%;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.popular-container h3 {
    font-size: 16px;
    margin: 18px 0 0;

}

.popular-container p {
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 26px;
}

/* ****SECTION #2***** */
/* Activities content */
/* delete default title margin */

.content-activities h2 {
    margin: 65px 0 23px;
}

/* layout desktop grid Activities container */
.container__activities {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 44px;
    grid-template-rows: 190px 45px 45px 165px;
}

/* position of each Activities cards in the grid */
.container__activities__port {
    grid-column: 1 / 1;
    grid-row: 1 / 5;
}

.container__activities__pomegues {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

.container__activities__calanques {
    grid-column: 3 / 3;
    grid-row: 1 / 5;
}

.container__activities__dame-de-la-garde {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
}

.container__activities__iles-frioul {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.container__activities__parc-longchamp {
    grid-column: 4 / 4;
    grid-row: 3 / 5;
}

/* common properties of Activities container cards */
.container__activities a {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

/* scale image Activities container */
.container__activities img {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 20px;
}

/* overlap title of Activities on image */
.content-activities h3 {
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    background-color: white;
    position: absolute;
    width: 94.5%;
    border-radius: 0 0 20px 20px;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 22px 0 17px 6%;
}

/* Hide small images for big devices */
.medium-img-vieux-port{
    display: block;
}

.small-img-vieux-port {
    display: none;
}

.medium-img-calanques {
    display: block;
}

.small-img-calanques {
    display: none;
}

/* FOOTER */
footer {
    margin-top: 60px;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* layout footer desktop */
.footer__content {
    height: 100%;
    width: 100%;
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /* flexbox inside of each details footer elements */
.footer__content > div {
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 45px 0 50px 0;
}

.footer__content__our-accommodations, .footer__content__assistance {
    padding-left: 12px;
}
    /* margin footer link */
footer h2 {
    font-size: 17px;
    margin: 0;
}

footer a {
    font-size: 16px;
    margin: 15px 0 0 0;
}

footer a:hover {
    color: #0065FC;
}

/* RESPONSIVE */
/* LAPTOP UNDER 1340px */
@media screen and (max-width: 1340px) {
    /* create margin page */
    header, main, .footer__content {
        width: 98%;
    }
}

/* SMALL SCREEN UNDER 1023PX */
@media screen and (max-width: 1023px) {

/* RESPONSIVE LODGING */
    /* popular section above lodging section */
    .content-lodging {
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr;
        row-gap: 30px;
        grid-template-areas: 
        "popular"
        "housing";
        margin: auto;
    
    }

    /* new layout grid of cards popular */
    .popular-container{
        margin: auto;
        padding: 37px 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr;
        gap: 20px;
        grid-template-areas:
        "popular-title popular-title popular-title"
        "soleil-du-matin coeur-de-l-eau hotel-bleu-blanc";
    }
    
    .card-description-popular {
        padding: 5px 0 5px 5px;
    }

    /* new layout of housing cards grid */
    .housing-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    /* fixing title inside the cards */
    .content__popular__title i, .content__popular h2, .content__popular h3, .content__popular__title {
        padding: 0;
        margin: 0;
    }

    /* fixing activities cards grid overlapping footer */
    .content-activities {
        padding-bottom: 60px;
    }

    /* New layout of activities cards grid */
    .container__activities {
        height: 500px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        gap: 30px;
        grid-template-areas:
        "vieux-port pomegues frioul"
        "calanques dame-de-la-garde longchamp";
    }

        /* position of each Activities cards in the grid */
    .container__activities__port {
        grid-area: vieux-port;
    }

    .container__activities__pomegues {
        grid-area: pomegues;
    }

    .container__activities__calanques {
        grid-area: calanques;
    }

    .container__activities__dame-de-la-garde {
        grid-area: dame-de-la-garde;
    }

    .container__activities__iles-frioul {
        grid-area: frioul;
    }

    .container__activities__parc-longchamp {
        grid-area: longchamp;
    }
    /* load images for small devices */
    .medium-img-vieux-port{
        display: none;
    }

    .small-img-vieux-port {
        display: block;
    }

    .medium-img-calanques {
        display: none;
    }
    
    .small-img-calanques {
        display: block;
    }
}

/* RESPONSIVE FOOTER FOR TABLET */
@media screen and (max-width: 950px) {
    .footer__content > div {
        margin: 22px 0 22px 30px;
        padding: 0;
    }

    .footer__content {
        flex-direction: column;
        padding: 23px 0 23px 0;
    }
}

/* RESPONSIVE POPULAR AND HOUSING UNDER 890PX */
@media screen and (max-width: 890px) {
    /* PPOPULAR CARDS LINE UP UNDER 890PX */
    .popular-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr);
        grid-template-areas:
        "popular-title"
        "soleil-du-matin"
        "coeur-de-l-eau"
        "hotel-bleu-blanc";
    }
    /* full width of popular cards */
    .content__popular {
        display: block;
    }
    /* HOUSING CARDS 2 COLUMNS LINE UP UNDER 890PX */
    .housing-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "cannebiere harbor"
        "mouettes sea"
        "panier amina";
    }

    /* ACTIVITES CARDS 2 COLUMNS LINE UP UNDER 890PX */
    .container__activities {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 33%);
        grid-template-areas: 
        "vieux-port pomegues"
        "frioul calanques"
        "dame-de-la-garde longchamp";
    }
}

/* PHONE SCREEN UNDER 600PX */
@media screen and (max-width: 650px) {
    /* PHONE DISPLAY */
    /* Delete margin page */
    header, main, .footer__content {
        width: 100%;
    }

    /* Remove background round corners on popular & housing  */
    .content__housing, .content__popular {
        border-radius: 0;
    }

    /* TOPBAR */
    /* topbar dimensions and layout */
    .topbar {
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "logo-bar sign-up-bar"
        "lodging-bar activities-bar";
    }

   /* ovoid phone wrap ovelapping main title */
    main {
        padding-top: 35px;
    }

    .topbar > div > a {
        padding: 10px;
    }

    /* reverse active and hover tab  */
    .topbar__hint {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    
    /* position img logo  */
    #logo img{
        padding: 0 0 20px 20px;
    }

    /* position sign-up link */
    #topbar__hint--sign-up {
        align-items: flex-end;
    }

    #sign-up__link {
        padding-right: 20px;
    }

/* RESET COMMON MARGIN AND PADDING TO MAIN CONTENT  */
    .main-title, .search-bar, .filter {
        margin-left: 20px;
    }
    .main-title h1 {
        margin-right: 30px;
    }

    .filter-tab {
        margin: 15px 11px 0 0;
    }
    
    .info-bar {
        margin: 30px 0 35px 20px;
    }

/* SEARCH BAR */
    /* hide classic search button */
    .search-bar__button {
        display: none;
    }
        /* display loop search icon for phone */
    .search-bar__loop {
        display: block;
        border: none;
        border-radius: 15px;
        padding: 17px;
        background-color: #0065FC;
        color: white;
        font-size: 17px;
        font-weight: bold;
        height: 51px;
        width: 51px;
    }

    .search-bar {
        height: 51px;
        width: 333px;
    }
    .search-bar__locate-icon, .filter-list {
        margin: 0;
        padding: 0;
    }

/* COMMON SETTING SECTIONS */
    .content__popular, .content__housing, .content-activities {
        padding-left: 20px;
        padding-right: 20px;
    }

    .housing-container, .popular-container {
        gap: 10px;
    }

    .content__housing {
        background-color: white;
    }

/* HOUSING SECTION LINE UP TO 1 COLUMN UNDER 650PX */
    .housing-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "cannebiere"
        "harbor"
        "mouettes"
        "sea"
        "panier"
        "amina";
    }
    
    .content__housing {
        padding: 45px 20px;
    }
    
/* ACTIVITIES LINE UP TO 1 COLUMN UNDER 650PX */
    .container__activities {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 50%);
        grid-template-areas: 
        "vieux-port"
        "pomegues"
        "frioul"
        "calanques"
        "dame-de-la-garde"
        "longchamp";
    }

    .content-activities {
        height: 1760px;
        padding: 2%;
    }
}