/* Font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* HTML formating */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General font and genral background color*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}
/* general links properties */
a {
    text-decoration: none;
    color: inherit;
}

/* centered responsive header */
header, main {
    width: 100%;
    max-width: 1340px;
    margin: auto;
}

header {
    height: 90px;
}

    /* links layout */
.topbar a {
    text-align: center;
}

    /* topbar dimensions and layout */
.topbar {
    display: grid;
    height: 90px;
    grid-template-columns: 6.8% 5fr 12.09% 10.15% 10.15%;
    grid-template-rows: 1fr;
}

        /* logo and links horizontal layout inside the topbar */
.topbar__hint a {
    box-sizing: border-box;
    width: 100%;
}

.topbar > div > a {
    padding-top: 49px;
    padding-bottom: 20px;
}

.topbar > div {
    grid-column-end: span 1;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90px;
}

#topbar__hint--housing {
    grid-column-start: 3;
    grid-row-start: 1;
}

#topbar__hint--activities {
    grid-column-start: 4;
}

#topbar__hint--sign-up {
    grid-column-start: 5;
}

    /* links vertical layout */
.topbar__hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
        /* sign-up link */

#sign-up__link {
    font-weight: bold;
    color: #0065FC;
}

        /* active/inactive links */
.topbar__hint__upperline {
    height: 2px;
    width: 100%;
}

            /* active link */
.topbar .active > .topbar__hint__upperline {
    background-color: #0065FC;
}

.topbar .active > a {
    color: #0065FC;
}

            /* hover inactive link */
.topbar__hint:hover > .topbar__hint__upperline {
    background-color: #0065FC;
}

    /* hover links */
        /* hover "activités" */
.topbar__hint:hover > #activities__link {
    color: #0065FC;
}

        /* hover "S'inscrire" */
.topbar__hint:hover > #sign-up__link {
    color: black;
}

/* Main */
    /* main title */
.main-title h1 {
    margin: 40px 2px 16px;
    font-size: 21px;
    font-weight: bold;
}

.main-title p {
    margin: 0px 6px 19px;
    font-size: 17px;
}

/* search-bar */
.search-bar {
    height: 50px;
    width: 100%;
    border: 1px;
    border-color: #F2F2F2;
    display: grid;
    grid-template-columns: 4% 17.5% 10% 1fr;
    grid-template-rows: 1fr;
}
    /* map icon */
.search-bar__locate-icon {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-left: 7.47%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search-bar area */
.search-bar__area {
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border: 1px;
    padding: 0 0 0 7.25%;
    font-size: 18px;
}

    /* search button */
.search-bar__button {
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/* FILTER */
/* line up filter content */

/* Preferences filter */
.filter {
    width: 100%;
    margin: 31px 0 0 13px;
}

    /* filter title */
.filter h2 {
    display: inline;
    font-size: 17px;
    margin: 0;
}

    /* filter-list */
.filter-list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
}

    /* general properties of each filter */
.filter-tab {
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 500px;
    margin: 13px 0 0 24px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    /* filling bar transition from left to right */
    background: linear-gradient(to right, #DEEBFF 50%, #ffffff 50%);
    background-size: 200%;
    background-position: right;
    transition: all 400ms ease-in-out;
}

/* hover background color filter name transition effect */
.filter-tab:hover {
    background-position: left;
}

            /* Centering icon inside its own div */
.filter i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 12px;
    background-color: #DEEBFF ;
    border-radius: 500px;
    /* margin-right: 8%; */
}

                /* color of filter icons */
.filter i {
    color: #0065FC;
}

/* info-bar */
.info-bar p{
    display: inline;
    margin:0;
}

.info-bar {
    margin: 40px 0 40px 9px;
}

.info-bar i {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 5000px;
    padding: 3px 7px;

}

/* *******SECTION #1****** */
/* .content-lodging section */
.content-lodging {
    display: grid;
    grid-template-columns: 880px 420px;
    gap: 40px;
    grid-template-rows: 626px;
    grid-template-areas: "housing popular";
    background-color: coral;
}

        /* Common BOX SHADOW card properties */
.housing-container a, .popular-container a, .content-activities a {
    transition: all 600ms ease-in-out;
}

        /* Lodging BOX SHADOW card properties */
.housing-container a, .popular-container a {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 0.2);
}

        /* Activities BOX SHADOW card properties */
.content-activities a {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 0.2);
}

        /* Common HOVER content card  */
.housing-container a:hover, .popular-container a:hover, .content-activities a:hover {
    transform: scale(1.03);
}

            /* Lodging HOVER OPACITY BOX SHADOW card properties */
.housing-container a:hover, .popular-container a:hover {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 1);
}

            /* Activities HOVER OPACITY BOX SHADOW card property */
.content-activities a:hover {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 1);
}

        /* rate stars content card */
.blue {
    color: #0065FC;
    font-size: 12px;
}

.grey {
    color: #d9d9d9;
    font-size: 12px;
}

    /* layout children section */
.content__housing {
    grid-area: housing;
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 40px;
}

.content__popular {
    grid-area: popular;
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

            /* housing content title */
.content__housing > h2 {
    font-size: 21px;
    margin: 0;
    padding-bottom: 23px;
}

            /* container inside housing content */
.housing-container {
            /* layout housing-container cards */
    width: 100%;
    display: grid;
    grid-template-columns: 246px 246px 246px;
    grid-template-rows: 199px 199px;
    gap: 30px;
    grid-template-areas: 
    "cannebiere harbor mouettes"
    "sea panier amina";
}

            /* show-more link */
.show-more {
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 43px;
    padding-left: 4px;
}

                /* layout inside a housing card */
.housing-container a {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

                    /* layout of card description */
.card-description-housing {
    padding-left: 11px;
}

                    /* Scale image card and fit div to image */
.housing-container img {
    height: 114px;
    width: 237px;
    border-radius: 20px 20px 0 0;
}

img {
    object-fit: cover;
}

.housing-container img, .housing-container > a > div {
    width: 100%;
}
                    /* layout description card */
.housing-container h3, .housing-container p {
    margin: 0;
}

/* .housing-container h3 {
    font-size: 16px;
} */

.housing-container p {
    /* font-size: 13px; */
    margin: 5px 0 5px 0; 
}

/* layout of each housing cards */
    /* 1st row */
.housing-container__cannebiere {
    grid-area: cannebiere;
}

.housing-container__harbor {
    grid-area: harbor;
}

.housing-container__mouettes {
    grid-area: mouettes;
}

    /* 2nd row */
.housing-container__sea {
    grid-area: sea;
}

.housing-container__panier {
    grid-area: panier;
}

.housing-container__amina {
    grid-area: amina;
}

.content__popular__title {
    grid-area: popular-title;
    display: flex;
    justify-content: space-between;
    padding-top: 7.29%;
}

.content__popular h2 {
    font-size: 21px;
    margin: 0;
    padding-top: 7%;
}

.content__popular__title i {
    font-size: 22px;
    padding-top: 7%;
}

    /* layout container popular cards */
.popular-container {
    grid-area: popular-cards;
    border-radius: 50px;
    width: auto;
    display: grid;
    grid-template-columns: 343px;
    grid-template-rows: 60px 144px 144px 144px;
    row-gap: 33px;
    grid-template-areas:
    "popular-title"
    "soleil-du-matin"
    "coeur-de-l-eau"
    "hotel-bleu-blanc";
}

    /* postion of each popular cards */
/* row #1 */
.popular-container__soleil-du-matin {
    grid-area: soleil-du-matin;
}

/* row #2 */
.popular-container__coeur-de-l-eau {
    grid-area: coeur-de-l-eau;
}

/* row #3 */
.popular-container__hotel-bleu-blanc {
    grid-area: hotel-bleu-blanc;
}
    /* general properties of popular cards */

/* common margin and appearence */
.popular-container a {
    background-color: white;
    padding: 1.4%;
    border-radius: 20px;
    /* layout inside of each popular card */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    /* cards-popular-containerimage scale */
.popular-container img {
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

/* layout card description popular */
.card-description-popular {
    padding: 0 45px 9px 20px;
    width: 100%;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.popular-container h3 {
    font-size: 16px;
    margin: 18px 0 0;

}

.popular-container p {
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 26px;
}

/* ****SECTION #2***** */
/* Activities content */
/* delete default title margin */
.content-activities h2 {
    margin: 65px 0 23px;
}

/* layout desktop grid Activities container */
.container__activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 44px;
    grid-template-rows: 190px 45px 45px 165px;
}

/* common properties of Activities container cards */
.container__activities a {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

/* scale image Activities container */
.container__activities > a > img {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 20px;
}

/* overlap title of Activities on image */
.content-activities h3 {
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    background-color: white;
    position: absolute;
    width: 94%;
    border-radius: 0 0 20px 20px;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 22px 0 17px 19px;
}

/* position of each Activities cards in the grid */
.container__activities__port {
    grid-column: 1 / 1;
    grid-row: 1 / 5;
}

.container__activities__pomegues {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

.container__activities__calanques {
    grid-column: 3 / 3;
    grid-row: 1 / 5;
}

.container__activities__dame-de-la-garde {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
}

.container__activities__iles-frioul {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.container__activities__parc-longchamp {
    grid-column: 4 / 4;
    grid-row: 3 / 5;
}

/* FOOTER */
footer {
    margin-top: 60px;
    height: 218px;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* layout footer desktop */
.footer__content {
    width: 100%;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
}

    /* flexbox inside of each details footer elements */
.footer__content > div {
    margin: 0;
    display: flex;
    flex-direction: column;
}

    /* margin footer link */
footer h2 {
    font-size: 17px;
    margin: 45px 0 0 0;
}

footer a {
    font-size: 16px;
    margin: 15px 0 0 0;
}

footer a:hover {
    color: #0065FC;
}

/* RESPONSIVE */

@media screen and (max-width: 1350px) {

    header, main, .footer__content {
        width: 98%;
    }

/* RESPONSIVE LODGING */
    /* popular section above lodging section */
    .content-lodging {
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr;
        row-gap: 30px;
        grid-template-areas: 
        "popular"
        "housing";
        margin: auto;
    
    }

    .housing-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    
    .content__popular__title i, .content__popular h2, .content__popular h3, .content__popular__title {
        padding: 0;
        margin: 0;
    }

    .popular-container{
        margin: auto;
        padding: 2%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        column-gap: 20px;
        row-gap: 0;
        grid-template-areas:
        "popular-title popular-title popular-title"
        "soleil-du-matin coeur-de-l-eau hotel-bleu-blanc";
    }
    
    .card-description-popular {
        padding: 5px 0 5px 5px;
    }

    /* housing-container grid resizing */
    .housing-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* RESPONSIVE FOOTER */
