/* Font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* HTML formating */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General font and genral background color*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}
/* general links properties */
a {
    text-decoration: none;
    color: inherit;
}

/* centered responsive header */
header, main {
    width: 100%;
    max-width: 1340px;
    margin: auto;
}

header {
    height: 90px;
}

    /* links layout */
.topbar a {
    text-align: center;
}

    /* topbar dimensions and layout */
.topbar {
    display: grid;
    height: 90px;
    grid-template-columns: 6.8% 5fr 12.09% 10.15% 10.15%;
    grid-template-rows: 1fr;
}

        /* logo and links horizontal layout inside the topbar */
.topbar__hint a {
    box-sizing: border-box;
    width: 100%;
}

.topbar > div > a {
    padding-top: 49px;
    padding-bottom: 20px;
}

.topbar > div {
    grid-column-end: span 1;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90px;
}

#topbar__hint--housing {
    grid-column-start: 3;
    grid-row-start: 1;
}

#topbar__hint--activities {
    grid-column-start: 4;
}

#topbar__hint--sign-up {
    grid-column-start: 5;
}

    /* links vertical layout */
.topbar__hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
        /* sign-up link */

#sign-up__link {
    font-weight: bold;
    color: #0065FC;
}

        /* active/inactive links */
.topbar__hint__upperline {
    height: 2px;
    width: 100%;
}

            /* active link */
.topbar .active > .topbar__hint__upperline {
    background-color: #0065FC;
}

.topbar .active > a {
    color: #0065FC;
}

            /* hover inactive link */
.topbar__hint:hover > .topbar__hint__upperline {
    background-color: #0065FC;
}

    /* hover links */
        /* hover "activités" */
.topbar__hint:hover > #activities__link {
    color: #0065FC;
}

        /* hover "S'inscrire" */
.topbar__hint:hover > #sign-up__link {
    color: black;
}

/* Main */
    /* main title */
.main-title h1 {
    margin: 40px 2px 16px;
    font-size: 21px;
    font-weight: bold;
}

.main-title p {
    margin: 0px 6px 19px;
    font-size: 17px;
}

/* search-bar */
.search-bar {
    height: 50px;
    width: 100%;
    border: 1px;
    border-color: #F2F2F2;
    display: grid;
    grid-template-columns: 4% 17.5% 10% 1fr;
    grid-template-rows: 1fr;
}
    /* map icon */
.search-bar__locate-icon {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-left: 7.47%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search-bar area */
.search-bar__area {
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border: 1px;
    padding: 0 0 0 7.25%;
    font-size: 18px;
}

    /* search button */
.search-bar__button {
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/* Preferences filter */
.filter {
    display: flex;
    flex-direction: row;
    width: 69.33%;
    height: 100%;
    margin: 2.31% 0 2.61% 0;
}

    /* filter title */
.filter > h2 {
    margin-left: 1.4%;
    margin-right: 3.56%;
    font-size: 17px;
}

    /* general properties of each filter */
.filter > div {
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 500px;
    margin-right: 2.59%;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    /* filling bar transition from left to right */
    background: linear-gradient(to right, #DEEBFF 50%, #ffffff 50%);
    background-size: 200%;
    background-position: right;
    transition: all 400ms ease-in-out;
}

/* hover background color filter name transition effect */
.filter > div:hover {
    background-position: left;
}

        /* filter "économique" */
.filter__eco {
    width: 22.49%;
}

        /* filter "familial" */
.filter__family {
    width: 17.95%;
}

        /* filter "romantique" */
.filter__romantic {
    width: 22.38%;
}

        /* filter "animaux autorisés" */
.filter__pet {
    width: 31.1%;
}

            /* Centering icon inside its own div */
.filter i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: #DEEBFF ;
    border-radius: 500px;
    margin-right: 8%;
}

                /* color of filter icons */
.filter i {
    color: #0065FC;
}

/* info-bar */
.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 23px;
}

.info-bar__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid #F2F2F2;
    margin-bottom: 3px;
    margin-right: 12px;
    margin-left: 9px;
    border-radius: 50%;

}

.info-bar i {
    color: #0065FC;
}

/* *******SECTION #1****** */
/* .content-lodging section */
.content-lodging {
    display: grid;
    grid-template-columns: 880px 420px;
    column-gap: 40px;
    grid-template-rows: 626px;
    grid-template-areas: "housing popular";
    background-color: coral;
}

        /* Common BOX SHADOW card properties */
.housing-container a, .popular-container a, .content-activities a {
    transition: all 600ms ease-in-out;
}

        /* Lodging BOX SHADOW card properties */
.housing-container a, .popular-container a {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 0.2);
}

        /* Activities BOX SHADOW card properties */
.content-activities a {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 0.2);
}

        /* Common HOVER content card  */
.housing-container a:hover, .popular-container a:hover, .content-activities a:hover {
    transform: scale(1.03);
}

            /* Lodging HOVER OPACITY BOX SHADOW card properties */
.housing-container a:hover, .popular-container a:hover {
    box-shadow: 1px 1px 2px 2px rgba(192, 192, 192, 1);
}

            /* Activities HOVER OPACITY BOX SHADOW card property */
.content-activities a:hover {
    box-shadow: 0px 5px 7px 7px rgba(192, 192, 192, 1);
}

        /* rate stars content card */
.blue {
    color: #0065FC;
    font-size: 12px;
}

.grey {
    color: #d9d9d9;
    font-size: 12px;
}

    /* layout children section */
.content__housing {
    grid-area: "housing";
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 40px;
}

.content__popular {
    grid-area: "popular";
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

            /* housing content title */
.content__housing > h2 {
    font-size: 21px;
    margin: 0;
    padding-bottom: 23px;
}

            /* container inside housing content */
.housing-container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
            /* layout housing-container cards */
    display: grid;
    grid-template-columns: 246px 31px 246px 31px 246px;
    grid-template-rows: 199px 30px 199px;
}

            /* show-more link */
.show-more {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-top: 43px;
    padding-left: 4px;
}

                /* layout inside a housing card */
.housing-container a {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    grid-template-columns: 5px 236px 5px;
    grid-template-rows: 5px 114px 75px 5px;
}

                    /* layout of card description */
.card-description-housing {
    margin: 5px 11px;
}

                    /* Scale image card and fit div to image */
.housing-container img, .housing-container > a > div{
    height: 114px;
    width: 237px;
    border-radius: 20px 20px 0 0;
}

img {
    object-fit: cover;
}

                    /* layout description card */
.housing-container h3, .housing-container p {
    margin: 0;
}

.housing-container h3 {
    font-size: 16px;
}

.housing-container p {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 5px;
}

/* layout of each cards */
    /* 1st row */
.housing-container__cannebiere {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.housing-container__harbor {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.housing-container__mouettes {
    grid-column: 5 / 5;
    grid-row: 1 / 1;
}

    /* 2nd row */
.housing-container__sea {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.housing-container__panier {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.housing-container__amina {
    grid-column: 5 / 5;
    grid-row: 3 / 3;
}

/* content popular */
/* .content__popular {
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: 93px 532px;
} */

.content__popular__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 26px;
}

.content__popular h2 {
    font-size: 21px;
    margin: 0;
}

.content__popular__title i {
    font-size: 22px;
}

.popular-container {
    border-radius: 50px;
}

    /* layout container popular cards */
.popular-container {
    display: grid;
    grid-template-columns: 37px 343px 40px;
    grid-template-rows: 144px 33px 144px 33px 144px 34px;
}

    /* postion of each popular cards */
/* row #1 */
.popular-container__soleil-du-matin {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

/* row #2 */
.popular-container__coeur-de-l-eau {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

/* row #3 */
.popular-container__hotel-bleu-blanc {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
}
    /* general properties of popular cards */

/* common margin and appearence */
.popular-container a {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    /* layout inside of each popular card */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    /* popular-container image scale */
.popular-container img {
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

/* layout card description popular */
.card-description-popular {
    padding: 0 45px 9px 20px;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.popular-container h3 {
    font-size: 16px;
    margin: 18px 0 0;

}

.popular-container p {
    font-size: 13px;
    margin-top: 11px;
    margin-bottom: 26px;
}

/* ****SECTION #2***** */
/* Activities content */
/* delete default title margin */
.content-activities h2 {
    margin: 65px 0 23px;
}

/* layout desktop grid Activities container */
.container__activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 44px;
    grid-template-rows: 190px 45px 45px 165px;
}

/* common properties of Activities container cards */
.container__activities a {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
}

/* scale image Activities container */
.container__activities > a > img {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 20px;
}

/* overlap title of Activities on image */
.content-activities h3 {
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    background-color: white;
    position: absolute;
    width: 94%;
    border-radius: 0 0 20px 20px;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: 22px 0 17px 19px;
}

/* position of each Activities cards in the grid */
.container__activities__port {
    grid-column: 1 / 1;
    grid-row: 1 / 5;
}

.container__activities__pomegues {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}

.container__activities__calanques {
    grid-column: 3 / 3;
    grid-row: 1 / 5;
}

.container__activities__dame-de-la-garde {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
}

.container__activities__iles-frioul {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.container__activities__parc-longchamp {
    grid-column: 4 / 4;
    grid-row: 3 / 5;
}

/* FOOTER */
footer {
    height: 218px;
    width: 100%;
    background-color: #F2F2F2;
}

    /* layout footer desktop */
.footer__content {
    height: 100%;
    margin: 60px auto 0 auto;
    max-width: 1340px;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "about accomodations assistance";
}

.footer__content__about {
    grid-area: "about";
}

.footer__content__our-accommodations {
    grid-area: "accomodations";
}

.footer__content__assistance {
    grid-area: "assistance";
}

    /* flexbox inside of each details footer elements */
.footer__content > div {
    margin: 0;
    display: flex;
    flex-direction: column;
}

    /* margin footer link */
footer h2 {
    font-size: 17px;
    margin: 45px 0 0 0;
}

footer a {
    font-size: 16px;
    margin: 15px 0 0 0;
}

footer a:hover {
    color: #0065FC;
}

/* RESPONSIVE */

/* RESPONSIVE LODGING */
/* popular section above lodging section */
@media screen and (max-width: 1340px) {
    .content-lodging {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
        grid-template-areas: 
        "popular"
        "housing";
    }

    .popular-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
    }
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 600px) {
    .footer__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: "about accomodations assistance";
    }
}